body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-21xl: 40px;
  --font-size-15xl: 34px;

  /* Colors */
  --color-black: #000;
  --color-white: #fff;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-11xl: 30px;
}
